label {
    color: rgb(3, 105, 107);
}
.eralduskuubik {
    border: rgb(0, 152, 155); border-style: solid;
    width: 350px;
    background-color: lightpink;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.pohitaust {
    background-color: turquoise;
}