label {
    color: blue;
}
.eralduskuubik {
    border: black; border-style: solid;
    width: 300px;
    background-color: aliceblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}